<!DOCTYPE html>
<html>
  <head>
    <title>This is our home page for now</title>
   </head>
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/javascript" src="/static/js/bedbattles.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/bedbattles.css"/>
 <body>
  <div id="main">
  <div class="wrapper outer">
  <div class="wrapper inner">
  <div class="content">
  <div id="challenge">
  <h2>I Challenge:</h2> <form> 
    <div id="fb-root" class="fb_reset"></div>
    <div id="login-status">
      <!-- Put some dummy debugging message there! -->
      <a href="javascript:void(0)">Login with Facebook</a>
    </div> <!-- end login-status -->
    </div> <!-- end challenge -->
    <div id="explain">
    <p>We'll send a text to your challenge buddy. </br> </br> Get ready to wake up!</p>
    </div> <!-- end explain -->
    </div> <!-- end content -->
    </div> <!-- end wrapper inner -->
    </div> <!-- end wrapper outer -->
    </div> <!-- end main -->
  </body>
</html>
